<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/static/css/home.css">
<link rel="stylesheet" href="/static/css/navbar.css">
</head>
<body>
<!-- partial:index.partial.html -->
<div class="navbar">
  <a class="active" href="/home">Audit Form</a>
  <a href="">Management Form</a>
  <a href="#contact">Dashboard</a>
  
<div class="dropdown">
  
  
  <button class="dropbtn" onclick="navBar()"> Hello {{ session['username'] }}
    <i class="fa fa-caret-down"></i>
  </button>
  <div class="dropdown-content" id="myDropdown">
    <a href="/">Logout</a>
    
  </div>
  </div> 
</div>
<div class="info">
  <h1>Service Delivery</h1>
</div>



<!-- Modal -info -->
<div class="container">
<div id="modal-3" class="modal" data-modal-effect="slide-top">
  <div class="modal-content">
    <h2 class="fs-title">Why Audit Form</h2>
    <p>To improve our service delivery quality !!!</p>
    <input type="button" name="next" class="next action-button modal-close" value="Got it!">
  </div>
</div>
</div>

<form class="steps" accept-charset="UTF-8" enctype="multipart/form-data" novalidate="" action="/fetch_incident" method="post">
  



  <!-- USER INFORMATION FIELD SET --> 
  <fieldset>
    <h2 class="fs-title">Incident Information</h2>
    <h3 class="fs-subtitle">We just need some basic information on  Incident</h3>
    <!-- Begin What's Your First Name Field -->
        <div class="hs_firstname field hs-form-field">
        
          <label>Incident Number *</label>

          <input id="firstname-99a6d115-5e68-4355-a7d0-529207feb0b3_2983" name="incident" required="required" type="text" value="" placeholder="" data-rule-required="true" data-msg-required="Please include incident number" >
          <span class="error1" style="display: none;">
              <i class="error-log fa fa-exclamation-triangle"></i>
          </span>
        </div>
		<input type="submit" data-page="2"  class="next action-button" value="Fetch Incident" />
	<div class="explanation btn btn-small modal-trigger" data-modal-id="modal-3">What Is This?</div>
  
         

   
  
    
		
		 
	
  </fieldset>
  </form>
<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js'></script>
<script src='https://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.1/jquery.validate.js'>
</script>
<script  src="./static/js/script.js"></script>



</body>
</html>
