.tool-tip {
  display: inline-block;
  position: relative;
  margin-left: 0.5em;
}
.tool-tip .tool-tip__icon {
  background: black;
   color:#ffffff;
  border-radius: 10px;
  cursor: pointer;
  display: inline-block;
  
  font-family: times new roman;
  height: 20px;
  line-height: 1.3em;
  text-align: center;
  width: 20px;
}
.tool-tip .tool-tip__info {
   color:#ffffff;
  display: none;
  background: #7B1FA2;
  border: 1px solid white;
  border-radius: 3px;
  font-size: 0.875em;
  padding: 1em;
  position: absolute;
  left: 30px;
  top: -20px;
  width: 250px;
  z-index: 2;
}
.tool-tip .tool-tip__info:before, .tool-tip .tool-tip__info:after {
  content: "";
  position: absolute;
   
  left: -10px;
  top: 7px;
  border-style: solid;
  border-width: 10px 10px 10px 0;
  border-color: transparent white;
}
.tool-tip .tool-tip__info:after {
  left: -8px;
  border-right-color: #7B1FA2;
}
.tool-tip .tool-tip__info .info {
  display: block;
}
.tool-tip .tool-tip__info .info__title {
  color: white;
}
.tool-tip:hover .tool-tip__info, .tool-tip:focus .tool-tip__info {
  display: inline-block;
}

a:focus + .tool-tip .tool-tip__info {
  display: inline-block;
}