<!DOCTYPE html>
<html lang="en" >
<head>
  
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/static/css/home.css">
  <link rel="stylesheet" href="/static/css/navbar.css">

</head>
<body>
<div class="navbar">
  <a class="active" href="/home">Audit Form</a>
  <a href="/management_form">Management Form</a>
  <a href="#contact">Dashboard</a>
  
<div class="dropdown">
  
  
  <button class="dropbtn" onclick="navBar()"> Hello {{ session['auth_token'] }}
    <i class="fa fa-caret-down"></i>
  </button>
  <div class="dropdown-content" id="myDropdown">
    <a href="/">Logout</a>
    
  </div>
  </div> 
</div>
<div class="info">
  <h1>Service Delivery</h1>
</div>



<!-- Modal -info -->
<div class="container">
<div id="modal-3" class="modal" data-modal-effect="slide-top">
  <div class="modal-content">
    <h2 class="fs-title">Why Audit Form</h2>
    <p>To improve our service delivery quality !!!</p>
    <input type="button" name="next" class="next action-button modal-close" value="Got it!">
  </div>
</div>
</div>


<form class="steps" accept-charset="UTF-8" enctype="multipart/form-data" novalidate="" action='/audit_form' method='post'>



  <fieldset>
    <h2 class="fs-title">Audit Form Completed!!</h2>
    <h3 class="fs-subtitle">Thank you for filling the audit form,Your inputs will help us in improving the efficiency of our service delivery!!</h3>
   <input type="submit" data-page="1"  class="next action-button" value="Home"/>
  </fieldset>
<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js'></script>
<script src='https://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.1/jquery.validate.js'></script><script  src="./script.js"></script>

</body>
</html>
