<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  
  <link rel="stylesheet" href="/static/css/home.css">
<link rel="stylesheet" href="/static/css/navbar.css">

<style>
div#content {
    display: none;
    }
.tool-tip {
  display: inline-block;
  position: relative;
  margin-left: 0.5em;
}
.tool-tip .tool-tip__icon {
  background: grey;
   color:#ffffff;
  border-radius: 10px;
  cursor: pointer;
  display: inline-block;
  font-family: times new roman;
  height: 15px;
  line-height: 1em;
  text-align: center;
  width: 15px;
}
.tool-tip .tool-tip__info {
   color:#ffffff;
  display: none;
  background: #7B1FA2;
  border: 1px solid white;
  border-radius: 3px;
  font-size: 0.875em;
  padding: 1em;
  position: absolute;
  left: 30px;
  top: -20px;
  width: 250px;
  z-index: 2;
}
.tool-tip .tool-tip__info:before, .tool-tip .tool-tip__info:after {
  content: "";
  position: absolute;
   
  left: -10px;
  top: 7px;
  border-style: solid;
  border-width: 10px 10px 10px 0;
  border-color: transparent white;
}
.tool-tip .tool-tip__info:after {
  left: -8px;
  border-right-color: #7B1FA2;
}
.tool-tip .tool-tip__info .info {
  display: block;
}
.tool-tip .tool-tip__info .info__title {
  color: white;
}
.tool-tip:hover .tool-tip__info, .tool-tip:focus .tool-tip__info {
  display: inline-block;
}

a:focus + .tool-tip .tool-tip__info {
  display: inline-block;
}

</style>	
</head>
<body>
<!-- partial:index.partial.html -->
<div class="navbar">
  <a class="active" href="/audit_form">Audit Form</a>
  <a href="/management_form">Management Form</a>
  <a href="#contact">Dashboard</a>
  
<div class="dropdown">
  
  
  <button class="dropbtn" onclick="navBar()"> Hello {{ session['auth_token']}}
    <i class="fa fa-caret-down"></i>
  </button>
  <div class="dropdown-content" id="myDropdown">
    <a href="/logout">Logout</a>
    
  </div>
  </div> 
</div>
<div class="info">
  <h1>Service Delivery</h1>
</div>


    {% for category, message in get_flashed_messages(with_categories=true) %}
	{% if category=='info' %}
      <div class="alert {{ category }}" id="content"> {{ message|capitalize }} </div>
	{% endif %}
    {% endfor %}
  


<!-- Modal -info -->
<div class="container">
<div id="modal-3" class="modal" data-modal-effect="slide-top">
  <div class="modal-content">
    <h2 class="fs-title">Why Audit Form</h2>
    <p>To improve our service delivery quality !!!</p>
    <input type="button" name="next" class="next action-button modal-close" value="Got it!">
  </div>
</div>
</div>
{% if message=='1'%}
<form class="steps" accept-charset="UTF-8" enctype="multipart/form-data" novalidate="" action="/fetch_incident" method="post">
 
  <!-- USER INFORMATION FIELD SET --> 
  <fieldset>
    <h2 class="fs-title">Incident Information</h2>
    <h3 class="fs-subtitle">We just need some basic information on  Incident</h3>
    <!-- Begin What's Your First Name Field -->
        <div class="hs_firstname field hs-form-field">
        
          
		  {% if data=='No' %}
         <p> Please enter Correct Incident ID!! </p>
		 <br>
         {%endif%}
         {% if data=='yes' %}
         <p> Incident is already audited, please check management form!!</p>
		 <br>
         {%endif%}
        

           <label>Incident Number *</label>
          <input id="firstname-99a6d115-5e68-4355-a7d0-529207feb0b3_2983" name="incident" required="required" type="text" value=""  placeholder="" data-rule-required="true" data-msg-required="Please include incident number" >
          <span class="error1" style="display: none;">
              <i class="error-log fa fa-exclamation-triangle"></i>
          </span>
        </div>
		<input type="submit" data-page="2"  class="next action-button" value="Fetch Incident" onClick="loading()"/>
	<div class="explanation btn btn-small modal-trigger" data-modal-id="modal-3">What Is This?</div>
  </fieldset>
  </form>

{% endif%}

{% if message=='2'%}

<form class="steps" accept-charset="UTF-8" enctype="multipart/form-data" novalidate="" action="/audit_dataProcess" method="post">

  <ul id="progressbar">
    <li class="active">Incident Information</li>
    <li>Choose type of audit</li>
    <li>Individual Metric Score Card</li>
	<!-- <li>Comments and Feedback</li> -->
    
  </ul>



  <!-- USER INFORMATION FIELD SET --> 
  <fieldset>
    <h2 class="fs-title">Incident Information</h2>
    <h3 class="fs-subtitle">We just need some basic information on  Incident</h3>
    <!-- Begin What's Your First Name Field -->
        <div class="hs_firstname field hs-form-field">
        
          <label>Incident Number *</label>

          <input id="firstname-99a6d115-5e68-4355-a7d0-529207feb0b3_2983" name="incident" required="required" type="text" value="{{ data['Incident_ID']}}" placeholder="" data-rule-required="true" data-msg-required="Please include incident number" >
          <span class="error1" style="display: none;">
              <i class="error-log fa fa-exclamation-triangle"></i>
          </span>
        </div>
    <!-- End What's Your First Name Field -->

    <!-- Begin What's Your Email Field -->
        <div class="hs_email field hs-form-field">
        
          <label>Engineer's Name *</label>
		  <br>
		  <input id="eng" name="engname" required="required" type="text"  value="{{ data['AssignedTo_FullName']}}" readonly placeholder="" data-rule-required="true" data-msg-required="Please include Engineer" >
          <span class="error1" style="display: none;">
              <i class="error-log fa fa-exclamation-triangle"></i>
          </span>
        </div>
		  <!-- <select name="engname" id="eng" onChange='setTeamName()'> -->
		  <!-- <option value="">---</option> -->
  <!-- {% for c in data %} -->
	<!-- <OPTION value="{{c['u_ad_display_name']}}" data-team="{{c['u_default_group']}}">{{c['u_ad_display_name']}}</option> -->
<!-- {% endfor %} -->
<!-- </select> -->

          
          
    <!-- End What's Your Email Field -->

    <!-- Begin Total Number of Constituents in Your Database Field -->
        <div class="hs_email field hs-form-field hs_total_number_of_constituents_in_your_database">
        
          <label> Team Name *</label>

          <input id="team" class="form-text hs-input" name="team" type="text" value="{{ data['Assignment_Group']}}" readonly placeholder="">
          <span class="error1" style="display: none;">
              <i class="error-log fa fa-exclamation-triangle"></i>
          </span>
        </div>
    <div class="hs_firstname field hs-form-field">
        
          <label>Audited By *</label>

          <input id="firstname-99a6d115-5e68-4355-a7d0-529207feb0b3_2983" name="audited" required="required" type="text" value="{{ session['audited_by'] }}" placeholder="" data-rule-required="true" data-msg-required="Please enter audited by" readonly >
          <span class="error1" style="display: none;">
              <i class="error-log fa fa-exclamation-triangle"></i>
          </span>
        </div>
    <div class="hs_firstname field hs-form-field">
        
          <label>Date of Audit *</label>

          <input id="date" name="auditdate" required="required" type="text" value="{{ today }}" placeholder="" data-rule-required="true" data-msg-required="Please include date of audit" readonly>
          <span class="error1" style="display: none;">
              <i class="error-log fa fa-exclamation-triangle"></i>
          </span>
        </div>
    <!-- End Total Number of Constituents in Your Database Field -->
    <input type="button" data-page="1" name="next" class="next action-button" value="Next" />
    <div class="explanation btn btn-small modal-trigger" data-modal-id="modal-3"><i class="question-log fa fa-question-circle"></i> What Is This?</div>
  </fieldset>

  <!-- ACQUISITION FIELD SET -->  
  <fieldset>
    <h3 class="fs-subtitle">Individual Metrics Score Card</h3>
      <!-- Begin Total Number of Donors in Year 1 Field -->
        <!-- <div class="form-item webform-component webform-component-textfield hs_total_number_of_donors_in_year_1 field hs-form-field" id="webform-component-acquisition--amount-1"> -->
        
          <!-- <label for="edit-submitted-acquisition-amount-1 total_number_of_donors_in_year_1-99a6d115-5e68-4355-a7d0-529207feb0b3_6344">Select one option *</label> -->
        <div>
		 
      <input type="radio" name="auditradio" id="radioAged1" value="Quality Audit" onClick="showDiv(1)">&nbsp;&nbsp; Quality Audit
    
	<br>
    <br>
     
    
           <!-- <input id="radioAged1" type="radio" name="auditradio" onClick="showDiv(1)"  value="Quality Audit">&nbsp;&nbsp; Quality Audit  -->
		  <!-- <br> -->
		  <!-- <br> -->
		  <!-- <br> -->
		  <!-- <input id="radioAged2" type="radio" name="auditradio" onClick="showDiv(2)"  value="Aged INC Audit" checked>&nbsp;&nbsp; Aged INC Audit  -->
		  
		  <!-- <br> -->
		  <!-- <br> -->
		  <span class="error1" style="display: none;">
              <i class="error-log fa fa-exclamation-triangle"></i>
          </span>
        </div>
		 
		 <input type="button" data-page="1" name="next" class="next action-button" value="Next" />
		 <input type="button" data-page="2" name="previous" class="previous action-button" value="Previous" />
    <div class="explanation btn btn-small modal-trigger" data-modal-id="modal-3"><i class="question-log fa fa-question-circle"></i> What Is This?</div>
	</fieldset>	
	<fieldset>
    <h3 class="fs-subtitle">Individual Metrics Score Card</h3>
    <div class="form-item webform-component webform-component-textfield hs_average_gift_size_in_year_1 field hs-form-field" id="edit-submitted-cultivation-amount-1 average_gift_size_in_year_1-99a6d115-5e68-4355-a7d0-529207feb0b3_3256">
        
          <label for="edit-submitted-cultivation-amount-1 average_gift_size_in_year_1-99a6d115-5e68-4355-a7d0-529207feb0b3_3256">Greeting/Empathy/Acknowledgment</label>
            <div class="tool-tip">
            <i class="tool-tip__icon">i</i>
            <p class="tool-tip__info">
              <span class="info_tooltip"><span class="info__title">Yes -</span>Notification sent to Requested For indicating ticket is being looked at, including proper acknowledgement, ownership and empathy</span>
              <br><span><span class="info__title">No –</span>No communication sent at all or missing empathy, acknowledgement or ownership</span>
            
            </p>
          </div>
			<br>
		  <select name="GAE1" id="GAE1" onChange='myFunction()' required>
  
	<option value='0' >No</option>
	<option value='2'>Yes</option>
           </select>
           
          <span class="error1" style="display: none;">
              <i class="error-log fa fa-exclamation-triangle"></i>
          </span>
        </div>
		<div class="form-item webform-component webform-component-textfield hs_average_gift_size_in_year_1 field hs-form-field" id="edit-submitted-cultivation-amount-1 average_gift_size_in_year_1-99a6d115-5e68-4355-a7d0-529207feb0b3_3256">
        
          <label for="edit-submitted-cultivation-amount-1 average_gift_size_in_year_1-99a6d115-5e68-4355-a7d0-529207feb0b3_3256">Incident Management </label> 
          <div class="tool-tip">
            <i class="tool-tip__icon">i</i>
            <p class="tool-tip__info">
              <span class="info_tooltip">Based on asking relevant questions, issue identification, regular and meaningful updates</span>
            </p>
          </div>
          <br>
		  <select name="INC1" id="INC1" onChange='myFunction()' required>
  
	<option value='0' >Extremely Poor</option>
	<option value='4'>Poor</option>
	<option value='8'>Average</option>
	<option value='12' >Good</option>
	<option value='16' >Extremely Good</option>
           </select>
           
          <span class="error1" style="display: none;">
              <i class="error-log fa fa-exclamation-triangle"></i>
          </span>
        </div>
    <div class="form-item webform-component webform-component-textfield hs_average_gift_size_in_year_1 field hs-form-field" id="tr_RES">
        
          <label for="edit-submitted-cultivation-amount-1 average_gift_size_in_year_1-99a6d115-5e68-4355-a7d0-529207feb0b3_3256">Resolution Notes</label>
          <div class="tool-tip">
            <i class="tool-tip__icon">i</i>
            <p class="tool-tip__info">
              <span class="info_tooltip">Based on Issue Description, Resolution, KB used and Buisness Partner Confirmation.</span>
            </p>
          </div>  
          <br>
		  <select name="RES1" id="RES1" onChange='myFunction()' required>
  
        <option value='0' >Extremely Poor</option>
        <option value='3'>Poor</option>
        <option value='6'>Average</option>
        <option value='9' >Good</option>
        <option value='12' >Extremely Good</option>
           </select>
           
          <span class="error1" style="display: none;">
              <i class="error-log fa fa-exclamation-triangle"></i>
          </span>
        </div>
    <!-- <div class="form-item webform-component webform-component-textfield hs_average_gift_size_in_year_1 field hs-form-field">
        
          <label for="edit-submitted-cultivation-amount-1 average_gift_size_in_year_1-99a6d115-5e68-4355-a7d0-529207feb0b3_3256">OLA Compliance</label>
          <div class="tool-tip">
            <i class="tool-tip__icon">i</i>
            <p class="tool-tip__info">
              <span class="info_tooltip"><span class="info__title">Response OLA Compliance : </span>5</span>
              <span><span class="info__title">Update OLA Compliance : </span>10</span>
              <span><span class="info__title">Resolution OLA Compliance : </span>10</span>
            </p>
          </div>    
          <br>
		  <select name="OLA1" id="OLA1" onChange='myFunction()' required>
  
	<option value='0' >No</option>
	<option value='5'>Partial (5)</option>
	<option value='10'>Partial (10)</option>
	<option value='15'>Partial (15)</option>
	<option value='25' >Yes (25)</option>
           </select>
           
          <span class="error1" style="display: none;">
              <i class="error-log fa fa-exclamation-triangle"></i>
          </span>
        </div>
    <div class="form-item webform-component webform-component-textfield hs_average_gift_size_in_year_1 field hs-form-field">
        
          <label for="edit-submitted-cultivation-amount-1 average_gift_size_in_year_1-99a6d115-5e68-4355-a7d0-529207feb0b3_3256">Hold Time</label>
          <div class="tool-tip">
            <i class="tool-tip__icon">i</i>
            <p class="tool-tip__info">
              <span class="info_tooltip">Unless BP is OOO, should not be more than 36 hrs</span>
              
            </p>
          </div>    
          <br>
		  <select name="HOLD1" id="HOLD1" onChange='myFunction()' required>
  
	<option value='0' >No</option>
	<option value='5' >Yes (5)</option>
	
           </select>
           
          <span class="error1" style="display: none;">
              <i class="error-log fa fa-exclamation-triangle"></i>
          </span>
        </div> -->
	<div class="form-item webform-component webform-component-textfield hs_average_gift_size_in_year_1 field hs-form-field" id='tr_CI'>
        
          <label for="edit-submitted-cultivation-amount-1 average_gift_size_in_year_1-99a6d115-5e68-4355-a7d0-529207feb0b3_3256">Correct CI/Sub Category</label>
          <div class="tool-tip">
            <i class="tool-tip__icon">i</i>
            <p class="tool-tip__info">
              <span class="info_tooltip">Validation of CI selected</span><br>
              <span>Correct Sub category to be selected where applicable</span>
            </p>
          </div>    
          <br>
		  <select name="CI1" id="CI1" onChange='myFunction()' required>
  
	<option value='0' >No</option>
	<option value='6' >Yes</option>
	
	
           </select>
           
          <span class="error1" style="display: none;">
              <i class="error-log fa fa-exclamation-triangle"></i>
          </span>
        </div>
	<div class="form-item webform-component webform-component-textfield hs_average_gift_size_in_year_1 field hs-form-field" id='tr_kb'>
        
          <label for="edit-submitted-cultivation-amount-1 average_gift_size_in_year_1-99a6d115-5e68-4355-a7d0-529207feb0b3_3256">KB Used</label>
          <div class="tool-tip">
            <i class="tool-tip__icon">i</i>
            <p class="tool-tip__info">
              <span class="info_tooltip">If KB exist, then it should be used for troubleshooting</span><br>
              <span>Mentioned in the resolution notes and ticket logs as needed</span>
            </p>
          </div>   
          <br>
		  <select name="KB1" id="KB1" onChange='myFunction()'required >
  
	<option value='0' >No</option>
	<option value='4' >Yes</option>
	
	
           </select>
           
          <span class="error1" style="display: none;">
              <i class="error-log fa fa-exclamation-triangle"></i>
          </span>
        </div>
    <div class="form-item webform-component webform-component-textfield hs_average_gift_size_in_year_1 field hs-form-field" id='tr_ipc'>
        
          <label for="edit-submitted-cultivation-amount-1 average_gift_size_in_year_1-99a6d115-5e68-4355-a7d0-529207feb0b3_3256">Pending Code</label>   
          <br>
		  <select name="IPC" id="IPC" onChange='myFunction()' required>
  
	<option value='0' >No</option>
	<option value='10' >Yes (10)</option>
	
	
           </select>
           
          <span class="error1" style="display: none;">
              <i class="error-log fa fa-exclamation-triangle"></i>
          </span>
        </div>
	<div class="form-item webform-component webform-component-textfield hs_average_gift_size_in_year_1 field hs-form-field">
        
          <label for="edit-submitted-cultivation-amount-1 average_gift_size_in_year_1-99a6d115-5e68-4355-a7d0-529207feb0b3_3256">Total Quality Score</label>
            <br>
		  <input id="TS" name="TS" required="required" type="text" value="0" readonly>
          <span class="error1" style="display: none;">
              <i class="error-log fa fa-exclamation-triangle"></i>
          </span>
        </div>
        <div class="form-item webform-component webform-component-textfield hs_average_gift_size_in_year_1 field hs-form-field">
        
          <label for="edit-submitted-cultivation-amount-1 average_gift_size_in_year_1-99a6d115-5e68-4355-a7d0-529207feb0b3_3256">WoW Moment</label>
            
          <select name="wow" id="wow" onChange='myFunction()'>
  
            <option value='No' >No</option>
            <option value='Yes' >Yes</option>
            
            
                     </select>
		  <!-- <input id="TS" name="TS" required="required" type="text" value="0" readonly> -->
          <span class="error1" style="display: none;">
              <i class="error-log fa fa-exclamation-triangle"></i>
          </span>
        </div>
        <div class="form-item webform-component webform-component-textfield hs_average_gift_size_in_year_1 field hs-form-field" id="edit-submitted-cultivation-amount-1 average_gift_size_in_year_1-99a6d115-5e68-4355-a7d0-529207feb0b3_3256">
         <label for="edit-submitted-cultivation-amount-1 average_gift_size_in_year_1-99a6d115-5e68-4355-a7d0-529207feb0b3_3256">Comments</label>
         <div class="tool-tip">
          <i class="tool-tip__icon">i</i>
          <p class="tool-tip__info">
            <span class="info_tooltip">Any suggestions and appreciation<br>Do we need KB for this incident ?<br>Scope for knowledge transfer</span>
          </p>
        </div>     
         <br>
    <textArea rows='10' cols='50'name='comments' id="comments" placeholder="Enter comments" required="required" data-rule-required="true" data-msg-required="Please include Comments"> </textArea>
	 <span class="error1" style="display: none;">
              <i class="error-log fa fa-exclamation-triangle"></i>
          </span>
	</div>
    
		
		 
		 <input type="submit" data-page="2"  class="next action-button" onclick="loading()" />
    <input type="button" data-page="2" name="previous" class="previous action-button" value="Previous" />
    
    <div class="explanation btn btn-small modal-trigger" data-modal-id="modal-3">What Is This?</div>
  </fieldset>



  <!-- Cultivation FIELD SET -->  
  
  <!-- <fieldset> -->
    <!-- <h2 class="fs-title">Comments</h2> -->
	<!-- <div class="form-item webform-component webform-component-textfield hs_average_gift_size_in_year_1 field hs-form-field" id="edit-submitted-cultivation-amount-1 average_gift_size_in_year_1-99a6d115-5e68-4355-a7d0-529207feb0b3_3256"> -->
        
    <!-- <textArea rows='10' cols='50'name='comments' id="comments" placeholder="Enter comments" required="required" data-rule-required="true" data-msg-required="Please include Comments"> </textArea> -->
	 <!-- <span class="error1" style="display: none;"> -->
              <!-- <i class="error-log fa fa-exclamation-triangle"></i> -->
          <!-- </span> -->
	<!-- </div> -->
    
		 <!-- <input type="button" data-page="2" name="previous" class="previous action-button" value="Previous" /> -->
		
		 <!-- <input type="submit" data-page="2"  class="next action-button" onclick="show_alert()" /> -->
	<!-- <div class="explanation btn btn-small modal-trigger" data-modal-id="modal-3">What Is This?</div> -->
	
  <!-- </fieldset> -->
  </form>
{% endif%}
<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js'></script>
<script src='https://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.1/jquery.validate.js'></script>
<!-- <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script> -->

<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

<script  src="./static/js/script.js"></script>
<script>
function navBar() {
  document.getElementById("myDropdown").classList.toggle("show");
}

// Close the dropdown if the user clicks outside of it
window.onclick = function(e) {
  if (!e.target.matches('.dropbtn')) {
  var myDropdown = document.getElementById("myDropdown");
    if (myDropdown.classList.contains('show')) {
      myDropdown.classList.remove('show');
    }
  }
}
function show_alert() {
  alert("Please Wait while we are processing your inputs!!");
   
}

// /* <!-- function setTeamName() { -->
//   <!-- var x = document.getElementById("eng"); -->
//   <!-- document.getElementById("team").value=x.getAttribute("data-team"); -->
//   <!-- var team=$("#eng").find(':selected').data('team'); -->
//   <!-- console.log(team); -->
//   <!-- document.getElementById("team").value=team; -->
//   <!-- document.getElementById("team").value=team; -->
  
  
// <!-- } --> */

function showDiv(obj){
 var elementIPC = document.getElementById("tr_ipc");
 var elementKB = document.getElementById("tr_kb");
 var elementCI = document.getElementById("tr_CI");
 var elementRES = document.getElementById("tr_RES");
 isIPC=obj;
 
if(obj==1){
  // <!-- elementIPC.classList.add("hide"); -->
  // <!-- elementKB.classList.remove("hide"); -->
  // <!-- elementCI.classList.remove("hide"); -->
  // <!-- elementRES.classList.remove("hide"); -->
  elementIPC.style.display = "none";
  elementKB.style.display = "block";
  elementCI.style.display = "block";
  elementRES.style.display = "block";
  
  document.getElementById("IPC").required = false;

} else if(obj==2){
  elementIPC.style.display = "block";
  elementKB.style.display = "none";
  elementCI.style.display = "none";
  elementRES.style.display = "none";
/*   <!-- elementIPC.classList.remove("hide"); -->
  <!-- elementKB.classList.add("hide"); -->
  <!-- elementCI.classList.add("hide"); -->
  <!-- elementRES.classList.add("hide"); --> */
document.getElementById("KB1").required = false;
 document.getElementById("CI1").required = false;
 document.getElementById("RES1").required = false;
}

}
var v_ipc='';
var isIPC=1
// if(v_ipc=='None' || v_ipc=='NA' )
// isIPC=1;
// else 
// isIPC=2;
showDiv(isIPC);
document.getElementById("radioAged"+isIPC).checked = true;

function wrap(obj){

if(obj=='') obj=0;

else if( isNaN(obj)) obj=0;

return parseInt(obj);

}
function loading(){
            $("#loading").show();
            $("#content").show();       
        }
function myFunction(){

var kb =0;
if(isIPC==1)
kb = wrap(document.getElementById("KB1").value)
else document.getElementById("KB1").value='';


var CI = 0;
if(isIPC==1)
CI = wrap(document.getElementById("CI1").value)
else document.getElementById("CI1").value='';

var RES = 0;
if(isIPC==1)
RES= wrap(document.getElementById("RES1").value)
else document.getElementById("RES1").value='';

//var HOLD = wrap(document.getElementById("HOLD1").value)

//var OLA = wrap(document.getElementById("OLA1").value)

var INC = wrap(document.getElementById("INC1").value)

var GAE = wrap(document.getElementById("GAE1").value)

var IPC ='';
if(isIPC==2)
IPC = wrap(document.getElementById("IPC").value)
else document.getElementById("IPC").value='';



document.getElementById("TS").value=kb+CI+INC+GAE+RES;

}

$(document).ready(function(){
console.log("tooltip");
    $('[data-toggle="tooltip"]').tooltip({
        placement : 'top'
    });
})

</script>


</body>
</html>
