<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - Bootstrap Table - Filter control</title>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'>
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.10.0/bootstrap-table.min.css'>
<link rel='stylesheet' href='https://rawgit.com/vitalets/x-editable/master/dist/bootstrap3-editable/css/bootstrap-editable.css'>
<link rel="stylesheet" href="/static/css/table.css">
<link rel="stylesheet" href="/static/css/home.css">
<link rel="stylesheet" href="/static/css/navbar.css">
<style>
div#content {
    display: none;
    }
</style>
</head>
<body>
<!-- partial:index.partial.html -->
<div class="navbar">
  <a href="/audit_form" '>Audit Form</a>
  <a class='active' href="/management_form" >Management Form</a>
  <a href="#contact">Dashboard</a>
  
<div class="dropdown">
  
  
  <button class="dropbtn" onclick="navBar()"> Hello {{ session['auth_token'] }}
    <i class="fa fa-caret-down"></i>
  </button>
  <div class="dropdown-content" id="myDropdown">
    <a href="/">Logout</a>
    
  </div>
  </div> 
</div>
{% for category, message in get_flashed_messages(with_categories=true) %}
	{% if category=='info' %}
      <div class="alert {{ category }}" id="content"> {{ message|capitalize }} </div>
	{% endif %}
    {% endfor %}
<div style="overflow-x:auto;">
 
<table id="table" 
			 data-toggle="table"
			 data-show-refresh="true"
			 data-search="true"
			 data-filter-control="true" 
			 data-show-export="true"
			 data-click-to-select="true"
			 data-toolbar="#toolbar"
			 data-detail-view="true"
  
  data-click-to-select="false"
  data-detail-formatter="detailFormatter"
  data-minimum-count-columns="2"
  data-show-pagination-switch="true"
  data-pagination="true"
	data-id-field="id"
	data-pagination-pre-text="Previous"
	data-pagination-next-text="Next"
	data-page-list="[10, 25, 50, 100, all]"
	data-show-footer="false">
	<thead>
		<tr>
			
			<th data-field="Incident" data-filter-control="input" data-sortable="true">Incident</th>
			<th data-field="Audited By" data-filter-control="select" data-sortable="true">Audited By</th>
			<th data-field="Date of Audit" data-filter-control="select" data-sortable="true">Date of Audit</th>
			<th data-field="Engineer Name" data-filter-control="select" data-sortable="true">Engineer Name</th>
			<th data-field="Team Name" data-filter-control="select" data-sortable="true">Team Name</th>
			<th data-field="Type of Audit" data-filter-control="select" data-sortable="true">Type of Audit</th>
			<th data-field="Total Score" data-filter-control="select" data-sortable="true">Total Score</th>
			<th data-field="Greeting/Empathy/Acknowledgment" data-filter-control="select" data-sortable="true">Greeting/Empathy/Acknowledgment</th>
			<th data-field="Incident Management" data-filter-control="select" data-sortable="true">Incident Management</th>
			<!-- <th data-field="OLA Compliance" data-filter-control="select" data-sortable="true">OLA Compliance</th>
			<th data-field="Hold Time" data-filter-control="select" data-sortable="true">Hold Time</th> -->
			<!-- <th data-field="Pending code" data-filter-control="select" data-sortable="true">Pending code</th> -->
			<th data-field="Resolution Notes" data-filter-control="select" data-sortable="true">Resolution Notes</th>
			<th data-field="Correct CI/Sub category" data-filter-control="select" data-sortable="true">Correct CI/Sub category</th>
			<th data-field="KB Used" data-filter-control="select" data-sortable="true">KB Used</th>
			<th data-field="wow" data-filter-control="select" data-sortable="true">WoW Moment</th>
			<th data-field="Comments" data-filter-control="select" data-sortable="true">Comments</th>
			
			
			
			
			
		</tr>
	</thead>
	<tbody>
		 {%for i in data %}
		 <tr>
		 <td>{{i['Incident']}}</td>
			<td>{{i['Audited_by']}}</td>
			<td>{{i['Date_of_Audit']}}</td>
			<td>{{i['Engineer_Name']}}</td>
			<td>{{i['Team_Name']}}</td>
			<td>{{i['Type_of_Audit']}}</td>
			<td>{{i['TS']}}</td>
			<td>{{i['GAE']}}</td>
			<td>{{i['INC']}}</td>
			<td>{{i['RES']}}</td>
			<td>{{i['CI']}}</td>
			<td>{{i['KB']}}</td>
			<td>{{i['WoW Moment']}}</td>
			<td>{{i['Comments']}}</td>
			
		 {%endfor %}
		 </tr>
			
			
		
		
		
	</tbody>
</table>

</div>
<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.10.0/bootstrap-table.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.9.1/extensions/editable/bootstrap-table-editable.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.9.1/extensions/export/bootstrap-table-export.js'></script>
<script src='https://rawgit.com/hhurz/tableExport.jquery.plugin/master/tableExport.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.9.1/extensions/filter-control/bootstrap-table-filter-control.js'></script>


<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/1.3.8/FileSaver.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.13.1/xlsx.core.min.js"></script>
		<script src="http://nicesnippets.com/demo/tableexport.js"></script>
<script>
var $table = $('#table');
    $(function () {
        $('#toolbar').find('select').change(function () {
            $table.bootstrapTable('refreshOptions', {
                exportDataType: $(this).val()
            });
        });
    })

		var trBoldBlue = $("table");

	$(trBoldBlue).on("click", "tr", function (){
			$(this).toggleClass("bold-blue");
	});
$("#table").tableExport({
	formats: ["xlsx", "csv"]
});
function detailFormatter(index, row) {
    var html = []
    $.each(row, function (key, value) {
	console.log(key,value);
	console.log(typeof(key));
	if(!key.includes('_')){
      html.push('<p><b>' + key + ':</b> ' + value + '</p>')
	  }
    })
    return html.join('')
  }
  function navBar() {
  document.getElementById("myDropdown").classList.toggle("show");
}

// Close the dropdown if the user clicks outside of it
window.onclick = function(e) {
  if (!e.target.matches('.dropbtn')) {
  var myDropdown = document.getElementById("myDropdown");
    if (myDropdown.classList.contains('show')) {
      myDropdown.classList.remove('show');
    }
  }
}
</script>




</body>
</html>
