<!DOCTYPE html>
<html>
<head>
 
  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/static/css/home.css">
<link rel="stylesheet" href="/static/css/navbar.css">
<style>
div#content {
    display: none;
    }
div#content1{
display: none;
color:red;
}

</style>
</head>
<body>
<!-- partial:index.partial.html -->
<div class="navbar">
  <a href="/audit_form" '>Audit Form</a>
  <a class='active' href="/management_form" >Management Form</a>
  <a href="#contact">Dashboard</a>
  
<div class="dropdown">
  
  
  <button class="dropbtn" onclick="navBar()"> Hello {{ session['auth_token'] }}
    <i class="fa fa-caret-down"></i>
  </button>
  <div class="dropdown-content" id="myDropdown">
    <a href="/">Logout</a>
    
  </div>
  </div> 
</div>
<div class="info">
  <h1>Service Delivery</h1>
</div>
<!-- {% for category, message in get_flashed_messages(with_categories=true) %} -->
	<!-- {% if category=='info' %} -->
      <!-- <div class="alert {{ category }}" id="content"> {{ message|capitalize }} </div> -->
	<!-- {% endif %} -->
    <!-- {% endfor %} -->


<!-- Modal -info -->
<div class="container">
<div id="modal-3" class="modal" data-modal-effect="slide-top">
  <div class="modal-content">
    <h2 class="fs-title">Why Management Form</h2>
    <p>To Fetch the audited reports to improve our service delivery quality !!!</p>
    <input type="button" name="next" class="next action-button modal-close" value="Got it!">
  </div>
</div>
</div>



<form class="steps" accept-charset="UTF-8" enctype="multipart/form-data" novalidate="" action="/mgmt_formProcess" method="post">

  



  <!-- USER INFORMATION FIELD SET --> 
  <fieldset>
    <h2 class="fs-title">Incident Information</h2>
    <h3 class="fs-subtitle">We just need some basic information on  Incident</h3>
    <!-- Begin What's Your First Name Field -->
        <div class="hs_firstname field hs-form-field">
        
          <label>Incident Number </label>

          <input id="incident" name="incident" type="text" value="" onchange="disable_other()" placeholder="Enter the incident number">
          
        </div>
    <!-- End What's Your First Name Field --> 

    <!-- Begin What's Your Email Field -->
        <div class="hs_email field hs-form-field">
        
          <label>Engineer's Name </label>
		  <br>
		  <input type="text" list="engineer" name="engname" id="eng" value="" onchange='setTeamName()'>

<datalist id="engineer">
 {% for c in data %}
	<OPTION value="{{c['u_ad_display_name']}}"></option>
{% endfor %}
</datalist>
        </div>
		  

          
          
    <!-- End What's Your Email Field -->

    <!-- Begin Total Number of Constituents in Your Database Field -->
        <div class="hs_email field hs-form-field hs_total_number_of_constituents_in_your_database">
        
          <label> Team Name </label>
		  <br>
		  <!-- <input id="team" class="form-text hs-input" name="team" type="text" value=""  placeholder=""> -->
          <!-- <span class="error1" style="display: none;"> -->
              <!-- <i class="error-log fa fa-exclamation-triangle"></i> -->
          <!-- </span> -->
        <!-- </div> -->
		<input type="text" list="teams" name="teamname" id="team"  value="" onchange='setEng()'>

<datalist id="teams">
 {% for c in data %}
	<OPTION value="{{c['u_default_group']}}"></option>
{% endfor %}
</datalist>
          <!-- <select name="teamname" id="team" placeholder="Pick a TeamName..."> -->
		  
 
		  
  <!-- {% for c in data %} -->
	<!-- <OPTION value="{{c['u_default_group']}}">{{c['u_default_group']}}</option> -->
<!-- {% endfor %} -->
<!-- </select> -->
          
        </div>
        <div class="hs_email field hs-form-field">
        
          <label>Audited By </label>
		  <br>
		  <input type="text" list="engineer" name="audited" id="audited" value="" placeholder="Enter SDL" onchange='setTeamName()'>

<datalist id="audited">
 {% for c in data %}
	<OPTION value="{{c['u_ad_display_name']}}"></option>
{% endfor %}
</datalist>
        </div>
    <div class="hs_firstname field hs-form-field">
        
          <label>Start Date </label>

          <input id="sdate" name="startdate" type="date" value="" placeholder="Enter Start Date">
          
        </div>
		<div id='content1'>End Date should be greater than start Date!!</div>

        <div class="hs_firstname field hs-form-field">
        
            <label>End Date </label>
             
            <input id="edate" name="enddate" type="date" value="" placeholder="Enter End Date" onchange='checkDate()'>
            
          </div>

    <!-- End Total Number of Constituents in Your Database Field -->
	 <input type="submit" data-page="2"  class="next action-button" Value='Fetch' onclick="loading()"/>
    
    <div class="explanation btn btn-small modal-trigger" data-modal-id="modal-3"><i class="question-log fa fa-question-circle"></i> What Is This?</div>
  </fieldset>

  
  

  
  </form>

<!-- partial -->
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js'></script>
<script src='https://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.1/jquery.validate.js'>
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/js/standalone/selectize.min.js" integrity="sha256-+C0A5Ilqmu4QcSPxrlGpaZxJ04VjsRjKu+G82kl5UJk=" crossorigin="anonymous"></script>

<script>

function loading(){
            $("#loading").show();
            $("#content").show();       
        }
function navBar() {
  document.getElementById("myDropdown").classList.toggle("show");
}

// Close the dropdown if the user clicks outside of it
window.onclick = function(e) {
  if (!e.target.matches('.dropbtn')) {
  var myDropdown = document.getElementById("myDropdown");
    if (myDropdown.classList.contains('show')) {
      myDropdown.classList.remove('show');
    }
  }
}

function setEng(){

$("#eng").val='';
document.getElementById('eng').value='';

}

function setTeamName() {

if(document.getElementById("eng").value==""){
document.getElementById("team").value="";
}
else{
  var team=$("#eng").val();
  console.log(team);
  var data2 = {{data|tojson}};
  <!-- console.log(data2[0]); -->
  var filteredData = data2.filter(d => d.u_ad_display_name ===team);
  console.log(filteredData[0]['u_default_group']);
  document.getElementById("team").value=filteredData[0]['u_default_group'];
   $("#team").val(filteredData[0]['u_default_group']);
  }
  
}
function disable_other()
{
if(document.getElementById('incident').value!="")
{
console.log("inside disable_other");
document.getElementById('eng').value="";
document.getElementById('team').value="";
document.getElementById('sdate').value="";
document.getElementById('edate').value="";
document.getElementById('audited').value="";
document.getElementById('eng').disabled=true;
document.getElementById('team').disabled=true;
document.getElementById('sdate').disabled=true;
document.getElementById('edate').disabled=true;
document.getElementById('audited').disabled=true;

}
if(document.getElementById('incident').value=="")
{
document.getElementById('eng').disabled=false;
document.getElementById('team').disabled=false;
document.getElementById('sdate').disabled=false;
document.getElementById('edate').disabled=false;
document.getElementById('audited').disabled=false;

}

}

function checkDate()
{
var startDate = new Date($('#sdate').val());
var endDate = new Date($('#edate').val());

if (startDate > endDate){
console.log("Hello")
 $("#content1").show();
}


else{
$("#content1").hide();
}
}




</script>


</body>
</html>
