<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="/static/css/password.css">
    <title>Simple Reistration Form</title>
</head>
<script>
function check_pass() {
    if (document.getElementById('password').value ==
            document.getElementById('confirm_password').value) {
        document.getElementById('submit').disabled = false;
        
    } else if(document.getElementById('confirm_password').value!='') {
        document.getElementById('submit').disabled = true;
        alert("Incorrect matching");
		document.getElementById('password').value = '';
		document.getElementById('confirm_password').value = '';
    }
}
</script>
<body>
{% if message=='forgot mail' %}
<form action='/forgotPassword_mail' method='post'>
        <div class="container">
          <h1>Forgot Password?</h1>
          {% if data=='No'%}
		  <p> Enter correct username or corpID!!</p>
		  {%endif%}
            <label for="email"><b>Username/CorpID</b></label>
            <input type="text" name="corpid" id='corpid' placeholder="Enter Username/CorpID" required>
         
        
      
          <div class="clearfix">
      
            <input type="submit" id='submit' value="Submit" class="btn">
          </div>
        </div>
      </form>
{%endif%}

{% if message== 'set password' %}
<form action="/" method="post">
        <div class="container">
          <h1>Set New Password</h1>
          <p>Please note that your password is set.Login Back!!</p>
      
      
          <div class="clearfix">
      
            <input type="submit" id='submit' value="Login" class="btn">
          </div>
        </div>
      </form>
{%endif%}

{% if message=='reset password'%}
    <form action='/set_password/{{corpid}}' method='post'>
        <div class="container">
          <h1>Reset Password?</h1>
          
            <label for="email"><b>CorpID</b></label>
            <input type="text" name="corpid" id='corpid' placeholder="Enter CorpID"  value="{{ corpid }}" readonly required>

            <label for="otp"><b>OTP</b></label>
            <input type="text" name="otp" id='otp' placeholder="Enter OTP"  value="" required>
            
            <label for="email"><b>Password</b></label>
            <input type="password" name="password" id='password' pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" placeholder="Enter Password" required>
         
          
          <label for="psw"><b>Confirm Password</b></label>
          <input type="password" placeholder="Enter Password again" name="confirm_password" id='confirm_password' required onchange='check_pass();'>
      
        
      
          <div class="clearfix">
      
            <input type="submit" id='submit' value="Submit" class="btn">
          </div>
        </div>
      </form>
{%endif%}

{% if message=='incorrect otp'%}
    <form action='/set_password/{{corpid}}' method='post'>
        <div class="container">
          <h1>Reset Password?</h1>
          <p style="color:red">Please enter correct otp from the email!!</p>
            <label for="email"><b>CorpID</b></label>
            <input type="text" name="corpid" id='corpid' placeholder="Enter CorpID"  value="{{ corpid }}" readonly required>

            <label for="otp"><b>OTP</b></label>
            <input type="text" name="otp" id='otp' placeholder="Enter OTP"  value="" required>
            
            <label for="email"><b>Password</b></label>
            <input type="password" name="password" id='password' pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" placeholder="Enter Password" required>
         
          
          <label for="psw"><b>Confirm Password</b></label>
          <input type="password" placeholder="Enter Password again" name="confirm_password" id='confirm_password' required onchange='check_pass();'>
      
        
      
          <div class="clearfix">
      
            <input type="submit" id='submit' value="Submit" class="btn">
          </div>
        </div>
      </form>
{%endif%}
<!-- {% if message=='change Password' %} -->
<!-- <form action='/change_password' method='post'> -->
        <!-- <div class="container"> -->
          <!-- <h1>Change Password</h1> -->
          <!-- <p>Please change your password for access.</p> -->
      
              <!-- <label for="email"><b>Password</b></label> -->
            <!-- <input type="password" name="password" id='password' pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" placeholder="Enter Password" required> -->
         
          
          <!-- <label for="psw"><b>Confirm Password</b></label> -->
          <!-- <input type="password" placeholder="Enter Password again" name="confirm_password" id='confirm_password' required onchange='check_pass();'> -->
      
        
      
          <!-- <div class="clearfix"> -->
      
            <!-- <input type="submit" id='submit' value="Submit" class="btn" disabled> -->
          <!-- </div> -->
        <!-- </div> -->
      <!-- </form> -->

<!-- {%endif%} -->
{% if message=='sent mail' %}
<form action='/' method='post'>
        <div class="container">
          <h1>Reset Password</h1>
          
           <p> Mail is sent to reset the password!! </p>
        
          <div class="clearfix">
      
            <input type="submit" id='submit' value="Login" class="btn">
          </div>
        </div>
      </form>
{%endif%}  
</body>
</html>